<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>ScanMe | お手軽3Dモデリングアプリ </title>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="themesid">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/stylish-portfolio.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <form method="post" action="./upload" enctype="multipart/form-data" class="text-vertical-center">

            <!-- スタート画面 -->
            <div id="disp1" >
                <h1 style="display:none;">Scan Me</h1>
                <img src="{{ url_for('static', filename='images/scanmeXmaslogo3.png') }}" class="mainlogo">
                <br>
                <!-- choose pic btn -->
                <input type="file" id="uploadFile" style="display:none;" name="image" class="img">
                <button type="button" class="btn btn-dark btn-lg btn-block top-btn" onclick="$('#uploadFile').click()">
                  顔写真を選ぼう
                </button>
                <!-- how to use btn -->
                <button type="button" class="btn btn-dark btn-lg btn-block bottom-btn"  onclick="location.href='/qrcode'">
                    QRコードを表示
                </button>
            </div>

            <!-- 画像確認画面 -->
            <div id="disp2" class="text-vertical-center" style="display:none;">
                <div class="upper1">
                    <div id="imagePreview" src=""></div>
                </div>
                <div class="lower">
                    <button class="btn btn-dark btn-lg btn-block top-btn" type="submit">この画像を3次元にする</button>
                    <button class="btn btn-light btn-lg btn-block bottom-btn" type="button" id="cancelFile">画像を選び直す</button>
                </div>
            </div>
        </form>
    </header>

    <!-- Footer -->
    <footer>
      <div class="container">
        <p class="footer-comment">Merry Christmas!<br/>by Norway no Geek</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#uploadFile").on("change", function()
            {
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test( files[0].type)){ // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function(){ // set image data as background of div
                        $("#imagePreview").css("background-image", "url("+this.result+")");
                        // readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
                       //  $('#imagePreview').attr('src', reader.result );
                    }
                }
                $('#disp1').toggle();
                $('#disp2').toggle();

            });
            $('#cancelFile').on("click",function()
            {
                $('#disp2').toggle();
                $('#disp1').toggle();
            });
        });
    </script>
</body>

</html>
