<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>ScanMe | メッセージを送ろう！</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="themesid">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/stylish-portfolio.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- CONTENT START -->
    <div class="message-area">
      <div class="text-center text-vertical-center">
        <form method="post" action="./addComment">
          <!-- メッセージ入力画面 -->
          <div>
              <textarea class="form-control" cols="20" id="set_message" name="message" placeholder="メッセージを入力してください *" rows="5" maxlength="20"></textarea>
              <img src="{{ url_for('static', filename='images/scanmeX_wait.gif') }}" class="wait-gif">
          </div>
          <!-- CONTENT START -->
          <div class="button-menu">
            <button class="btn btn-dark btn-lg btn-block top-btn" type="submit" id="sendMessage" value="">モデル作成</button>
            <input type="hidden" name="randname" value="{{ randname }}">
            <button class="btn btn-light btn-lg btn-block bottom-btn" id="backSelectFile" type="button">戻る</button>
          </div>
          <!-- CONTENT END -->
        </form>
      </div>
    </div>
    <!-- CONTENT END -->
    <footer class="footer">
      <p class="footer-comment">Merry Christmas!<br/>by Norway no Geek</p>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#backSelectFile').on("click",function()
            {
                location.href="./";
            });
        });
    </script>
</body>

</html>
